In [1]:
import pandas as pd

## Read a input file

In [3]:
df = pd.read_csv('Absenteeism-data.csv')

## Display first and last 5 records

In [5]:
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [14]:
df.tail()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [22]:
df.head(10)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8

## Type of the object

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

## Get the size of dataset

In [7]:
print(df.shape)

(700, 12)

In [8]:
print(df.columns)

Index(['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours'],
      dtype='object')

## Get Data type of each column

In [10]:
print(df.dtypes)

ID                             int64
Reason for Absence             int64
Date                          object
Transportation Expense         int64
Distance to Work               int64
Age                            int64
Daily Work Load Average      float64
Body Mass Index                int64
Education                      int64
Children                       int64
Pets                           int64
Absenteeism Time in Hours      int64
dtype: object

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB
None

## Subsetting Columns

In [12]:
age_df = df['Age']

In [15]:
age_df.head()

0    33
1    50
2    38
3    39
4    33
Name: Age, dtype: int64

In [17]:
age_id_edu_df = df[['ID', 'Age', 'Education']]

In [18]:
age_id_edu_df.head()

   ID  Age  Education
0  11   33          1
1  36   50          1
2   3   38          1
3   7   39          1
4  11   33          1

## Subsetting Rows

### using loc()

In [21]:
df.shape[0]

700

In [19]:
print(df.loc[0])

ID                                   11
Reason for Absence                   26
Date                         07/07/2015
Transportation Expense              289
Distance to Work                     36
Age                                  33
Daily Work Load Average         239.554
Body Mass Index                      30
Education                             1
Children                              2
Pets                                  1
Absenteeism Time in Hours             4
Name: 0, dtype: object

In [20]:
print(df.loc[19])

ID                                   33
Reason for Absence                   23
Date                         05/08/2015
Transportation Expense              248
Distance to Work                     25
Age                                  47
Daily Work Load Average         205.917
Body Mass Index                      32
Education                             1
Children                              2
Pets                                  1
Absenteeism Time in Hours             2
Name: 19, dtype: object

In [23]:
type(df.loc[2])

pandas.core.series.Series

In [24]:
type(df.head())

pandas.core.frame.DataFrame

In [25]:
df.loc[[0,20,199]]

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
199,14,12,27/04/2016,155,12,34,326.452,25,1,2,0,24

### using iloc()

In [27]:
print(df.iloc[0])

ID                                   11
Reason for Absence                   26
Date                         07/07/2015
Transportation Expense              289
Distance to Work                     36
Age                                  33
Daily Work Load Average         239.554
Body Mass Index                      30
Education                             1
Children                              2
Pets                                  1
Absenteeism Time in Hours             4
Name: 0, dtype: object

In [28]:
print(df.iloc[-1])

ID                                   15
Reason for Absence                   28
Date                         31/05/2018
Transportation Expense              291
Distance to Work                     31
Age                                  40
Daily Work Load Average         237.656
Body Mass Index                      25
Education                             1
Children                              1
Pets                                  1
Absenteeism Time in Hours             2
Name: 699, dtype: object

In [32]:
print(df.iloc[699])

ID                                   15
Reason for Absence                   28
Date                         31/05/2018
Transportation Expense              291
Distance to Work                     31
Age                                  40
Daily Work Load Average         237.656
Body Mass Index                      25
Education                             1
Children                              1
Pets                                  1
Absenteeism Time in Hours             2
Name: 699, dtype: object

In [33]:
df.iloc[[0,20,199]]

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
199,14,12,27/04/2016,155,12,34,326.452,25,1,2,0,24

### subsetting rows and columns

In [36]:
sub_df_loc = df.loc[:, ['ID', 'Age']]

In [38]:
print(sub_df_loc.head(3))

   ID  Age
0  11   33
1  36   50
2   3   38

In [40]:
sub_df_iloc = df.iloc[:, [2,5,-1]]

In [41]:
print(sub_df_iloc.head(3))

         Date  Age  Absenteeism Time in Hours
0  07/07/2015   33                          4
1  14/07/2015   50                          0
2  15/07/2015   38                          2

In [43]:
sub_df_iloc_slice = df.iloc[:, 3:7]

In [44]:
print(sub_df_iloc_slice.head(3))

   Transportation Expense  Distance to Work  Age  Daily Work Load Average
0                     289                36   33                  239.554
1                     118                13   50                  239.554
2                     179                51   38                  239.554

In [47]:
sub_row_col_df = df.iloc[[0,10,699,-1],[0,1,4,7]]

In [48]:
print(sub_row_col_df)

     ID  Reason for Absence  Distance to Work  Body Mass Index
0    11                  26                36               30
10   20                   1                50               23
699  15                  28                31               25
699  15                  28                31               25

## Grouped and Aggregated Calculations

### Grouped mean

In [51]:
print(df.groupby('Age')['Daily Work Load Average'].mean())

Age
27    301.190143
28    275.706558
29    263.365857
30    266.053171
31    262.849059
32    260.889385
33    271.306271
34    303.924630
36    272.560347
37    267.966029
38    262.175062
39    301.926000
40    281.740618
41    274.892529
43    262.623609
46    222.196000
47    263.580250
48    234.898600
49    309.128200
50    276.900429
58    243.855000
Name: Daily Work Load Average, dtype: float64

In [55]:
multi_group_var_df = df.groupby(['Age', 'Education'])[['Daily Work Load Average', 'Body Mass Index']].mean()

In [56]:
print(multi_group_var_df)

               Daily Work Load Average  Body Mass Index
Age Education
27  1                       301.190143        21.000000
28  1                       277.214351        24.680412
    2                       266.565562        25.000000
29  1                       263.365857        22.000000
30  3                       266.053171        19.000000
31  1                       261.384786        25.000000
    2                       269.682333        21.000000
32  1                       281.129000        23.000000
    3                       254.817500        25.000000
33  1                       272.321652        29.239130
    2                       247.952500        25.000000
34  1                       303.924630        25.000000
36  1                       272.560347        22.714286
37  1                       270.326104        28.000000
    3                       262.816773        29.000000
38  1                       262.175062        31.000000
39  1                       301.926000        25.571429
40  1                       280.461944        25.000000
    2                       284.163368        22.000000
41  1                       278.970967        23.000000
    4                       244.304250        28.000000
43  1                       262.623609        35.173913
46  1                       222.196000        25.000000
47  1                       263.580250        32.000000
48  1                       234.898600        33.000000
49  1                       309.128200        36.000000
50  1                       276.900429        30.400000
58  1                       243.855000        22.000000

### flatten the index

In [58]:
flat = multi_group_var_df.reset_index()
print(flat.head(3))

   Age  Education  Daily Work Load Average  Body Mass Index
0   27          1               301.190143        21.000000
1   28          1               277.214351        24.680412
2   28          2               266.565562        25.000000

### Group by frequency

In [59]:
freq_df = df.groupby('Age')['Education'].nunique()

In [61]:
print(freq_df.head(3))

Age
27    1
28    2
29    1
Name: Education, dtype: int64