### Create Dummy Files

In [1]:
import pandas as pd

In [24]:
dummy_0=pd.Series(['a0', 'b0', 'c0', 'd0'])
dummy_1=pd.Series(['a1', 'b1', 'c1', 'd1'])
dummy_2=pd.Series(['a2', 'b2', 'c2', 'd2'])

In [25]:
dummy_0.to_csv('dummy_0', index=False)
dummy_1.to_csv('dummy_1', index=False)
dummy_2.to_csv('dummy_2', index=False)

### Concatenation

In [26]:
df0 = pd.read_csv('dummy_0')
df1 = pd.read_csv('dummy_1')
df2 = pd.read_csv('dummy_2')

In [27]:
df0

    0
0  a0
1  b0
2  c0
3  d0

#### row concatenate

In [28]:
row_concat = pd.concat([df0,df1,df2])

print(row_concat)

    0
0  a0
1  b0
2  c0
3  d0
0  a1
1  b1
2  c1
3  d1
0  a2
1  b2
2  c2
3  d2

In [29]:
print(row_concat.iloc[2,])

0    c0
Name: 2, dtype: object

In [30]:
new_row_series = pd.Series(['n1', 'n2', 'n3'])
print(new_row_series)

0    n1
1    n2
2    n3
dtype: object

In [32]:
print(pd.concat([df1, new_row_series]))

     0    0
0   a1  NaN
1   b1  NaN
2   c1  NaN
3   d1  NaN
0  NaN   n1
1  NaN   n2
2  NaN   n3

In [33]:
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns=['A', 'B', 'C', 'D'])
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [34]:
print(pd.concat([df1,new_row_df]))

     0    A    B    C    D
0   a1  NaN  NaN  NaN  NaN
1   b1  NaN  NaN  NaN  NaN
2   c1  NaN  NaN  NaN  NaN
3   d1  NaN  NaN  NaN  NaN
0  NaN   n1   n2   n3   n4

In [35]:
print(df1.append(df2))

    0
0  a1
1  b1
2  c1
3  d1
0  a2
1  b2
2  c2
3  d2

In [36]:
print(df1.append(new_row_df))

     0    A    B    C    D
0   a1  NaN  NaN  NaN  NaN
1   b1  NaN  NaN  NaN  NaN
2   c1  NaN  NaN  NaN  NaN
3   d1  NaN  NaN  NaN  NaN
0  NaN   n1   n2   n3   n4

#### Adding Columns

In [38]:
col_concat = pd.concat([df0, df1, df2], axis=1)
print(col_concat)

    0   0   0
0  a0  a1  a2
1  b0  b1  b2
2  c0  c1  c2
3  d0  d1  d2

In [40]:
col_concat['new_col_list'] = ['n1', 'n2', 'n3', 'n4']

In [41]:
print(col_concat)

    0   0   0 new_col_list
0  a0  a1  a2           n1
1  b0  b1  b2           n2
2  c0  c1  c2           n3
3  d0  d1  d2           n4

In [42]:
col_concat['new_col_series']=pd.Series(['n1', 'n2', 'n3', 'n4'])
print(col_concat)

    0   0   0 new_col_list new_col_series
0  a0  a1  a2           n1             n1
1  b0  b1  b2           n2             n2
2  c0  c1  c2           n3             n3
3  d0  d1  d2           n4             n4

In [43]:
print(pd.concat([df0,df1,df2], axis=1, ignore_index=True))

    0   1   2
0  a0  a1  a2
1  b0  b1  b2
2  c0  c1  c2
3  d0  d1  d2

## Missing Data

In [2]:
from numpy import NaN, NAN, nan

In [4]:
print(NaN)
print(NAN)
print(nan)

nan
nan
nan

In [5]:
import pandas as pd

In [9]:
print(pd.isnull(NaN))
print(pd.isnull(NAN))
print(pd.isnull(nan))

True
True
True

In [10]:
scientists = pd.DataFrame({

    'Name': ['Rosaline Franklin', 'William Gosset'],

    'Occupation': ['Chemist', 'Statistician'],

    'Born': ['1920-07-25', '1876-06-13'],

    'Died': ['1958-04-16', '1937-10-16'],

    'missing': [NaN, nan]})

print(scientists)

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN

In [ ]:
sc